# Music Sales across Decades

- <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/1967_hits.csv">Most sold LPs</a> in 1967.
- <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/most-streamed-2023.csv">Most streamed albums</a> in 2023.

Which albums stood out (AS IN THE BIGGEST)in terms of sales?

In [1]:
import pandas as pd

## mad math functions package
from scipy.stats import zscore 

## run the display code here
pd.options.display.float_format = '{:,.0f}'.format

In [15]:
## read most streamed 2023
dfs = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/most-streamed-2023.csv")
dfs

                                album  streams_2023
0          Manana Sera Bonito Karol G    5130293275
1   One Thing At A Time Morgan Wallen    4380347931
2                  Genesis Peso Pluma    3936960850
3                        Drive Tiesto    3876226367
4                       Meduza Meduza    3383108898
..                                ...           ...
95            Cracker Island Gorillaz     662551227
96                       Senaryo Adie     661023457
97             Dark Side Justine Skye     657963327
98                     Trustfall P!nk     654976412
99       Alone In A Crowd Oliver Tree     651784706

[100 rows x 2 columns]

In [16]:
## read most purchased lps 1967
lps = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/1967_hits.csv")
lps

,artist,album,sales,year
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000,1967
1,THE DOORS,THE DOORS,20000000,1967
2,PATSY CLINE,GREATEST HITS,10000000,1967
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199,1967
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000,1967
...,...,...,...,...
98,THE VENTURES,POPS IN JAPAN,20740,1967
99,FRANÇOISE HARDY,MA JEUNESSE FOUT LE CAMP,16580,1967
100,PAUL MAURIAT,WORLD TOP HITS,5160,1967
101,LEIKHÓPURINN DÝRIN Í HÁLSASKÓGI,DÝRIN Í HÁLSASKÓGI,4543,1967
102,SLY & THE FAMILY STONE,A WHOLE NEW THING,1058,1967

In [17]:
## get a sense of the mean and STD for physical LP sales
round(lps["sales"].agg(["mean", "std"]),0)

mean   1,398,428.00
std    3,893,838.00
Name: sales, dtype: float64

In [18]:
## get a sense of the mean and STD for streaming sales
round(dfs["streams_2023"].agg(["mean", "std"]),0)

mean   1,475,627,820.00
std      926,976,996.00
Name: streams_2023, dtype: float64

In [19]:
## create new col with lp sales zscore
lps["z-score-lps"] = zscore(lps["sales"])
lps.head(10)

,artist,album,sales,year,z-score-lps
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000,1967,7.90
1,THE DOORS,THE DOORS,20000000,1967,4.80
2,PATSY CLINE,GREATEST HITS,10000000,1967,2.22
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199,1967,1.45
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000,1967,1.32
5,JIMI HENDRIX,ARE YOU EXPERIENCED,5125000,1967,0.96
6,BARBRA STREISAND,A CHRISTMAS ALBUM,5035000,1967,0.94
7,THE MONKEES,MORE OF THE MONKEES,5012400,1967,0.93
8,ELVIS PRESLEY,HOW GREAT THOU ART,3001070,1967,0.41
9,JOHNNY CASH,GREATEST HITS,2100000,1967,0.18

In [20]:
## create new col with lp streaming zscore
dfs["z-score-streams"] = zscore(dfs["streams_2023"])
dfs.head(10)

,album,streams_2023,z-score-streams
0,Manana Sera Bonito Karol G,5130293275,3.96
1,One Thing At A Time Morgan Wallen,4380347931,3.15
2,Genesis Peso Pluma,3936960850,2.67
3,Drive Tiesto,3876226367,2.60
4,Meduza Meduza,3383108898,2.07
5,Nadie Sabe Lo Que Va A Pasar Manana Bad Bunny,3341708923,2.02
6,1989 (Taylor's Version) Taylor Swift,3264335874,1.94
7,Utopia Travis Scott,3233444832,1.91
8,Another Friday Night Joel Corry,3064605147,1.72
9,El Comienzo Grupo Frontera,3054665040,1.71

In [44]:
## sort from highest to lowest for streaming zscore
dfs_top = dfs.sort_values(by="streams_2023", ascending = False).head(8)
## sort from highest to lowest for streaming zscore
lps_top = lps.sort_values(by="z-score-lps", ascending = False).head(8)

display(lps_top)
display(dfs_top)

,artist,album,sales,year,z-score-lps
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000,1967,7.90
1,THE DOORS,THE DOORS,20000000,1967,4.80
2,PATSY CLINE,GREATEST HITS,10000000,1967,2.22
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199,1967,1.45
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000,1967,1.32
5,JIMI HENDRIX,ARE YOU EXPERIENCED,5125000,1967,0.96
6,BARBRA STREISAND,A CHRISTMAS ALBUM,5035000,1967,0.94
7,THE MONKEES,MORE OF THE MONKEES,5012400,1967,0.93

,album,streams_2023,z-score-streams
0,Manana Sera Bonito Karol G,5130293275,3.96
1,One Thing At A Time Morgan Wallen,4380347931,3.15
2,Genesis Peso Pluma,3936960850,2.67
3,Drive Tiesto,3876226367,2.60
4,Meduza Meduza,3383108898,2.07
5,Nadie Sabe Lo Que Va A Pasar Manana Bad Bunny,3341708923,2.02
6,1989 (Taylor's Version) Taylor Swift,3264335874,1.94
7,Utopia Travis Scott,3233444832,1.91