# Holding Data

Today's goal is to see how Python holds data.


1. Built-in functions
2. Data in lists
3. Data in dictionaries.
4. Built-in functions (or prefabricated code)
5. Slicing
6. How is this relevant for data journalism?

## Built-in Functions

You've encountered a built-in function in ```print()```

In simplest terms (good for now), a ```built-in function``` comes as standard part of Python and carries out one or more steps on something we aim it at. What we target for the function goes inside the parenthesis. You've already used a built-in function:

```print("output something")```

I will introduce others through the course as need. There are <a href="https://docs.python.org/3/library/functions.html">dozens of built-in functions</a>, but I will be introducing the most useful ones little by little.

In [2]:
## create a variable called big_number equal to 
## One hundred seventy-five trillion, four hundred twenty-one million
big_number = 175_000_421_000_000
big_number

175000421000000

In [3]:
## Knowing what type of object you are working with
type(big_number)

int

In [4]:
## write a number worth one and a half called small_number:
small_number = 1.5
small_number

1.5

In [5]:
## what type is small_number
type(1.5)

float

In [6]:
## Create a variable that holds your name
my_name = "Sandeep"
my_name

'Sandeep'

In [7]:
## what type is it
type(my_name)

str

In [8]:
a_number = "123"
a_number

'123'

In [9]:
type(a_number)

str

##### Convert a number into an absolute number using ```abs()```

In [10]:
## create a variable called some_number with a negative value
# call it 
some_number = -52
some_number

-52

In [11]:
## turn it into an absolute number
abs(some_number)

52

In [12]:
## how long is my_name
len(my_name)

7

### Some built-in functions work on one type of object but not others. It's always important to track what type of object you are working with.

In [13]:
## how long is big number
len(big_number)

TypeError: object of type 'int' has no len()

In [14]:
## how long is small number
len(small_number)

TypeError: object of type 'float' has no len()

## Lists

Lists are the most widely used data containers in Python.

- Wrap your data in square brackets ```[]``` to create a list.
- A list can hold almost everything in Python:
    - numbers
    - strings
    - other lists
    - dictionaries (more on this today)
    - booleans (more on this at some point)
    - functions (more on this in the next level course)
- Lists are mutable (as you can add, remove or change items).

In [15]:
## Build a list called animals that holds a hen, a dog, cat, and horse

animals = ["hen", "dog", "cat", "horse"]

In [16]:
## call your list
animals

['hen', 'dog', 'cat', 'horse']

In [17]:
## check the type
type(animals)

list

In [18]:
## how many items in this list
len(animals)

4

In [19]:
## build a list with strings and numbers (contrived)

mixed_list = [1, "5", "sandeep", True, False, ["berries", "bananas"]]

In [20]:
## call your mixed_list
mixed_list

[1, '5', 'sandeep', True, False, ['berries', 'bananas']]

In [21]:
## check the length of your list
len(mixed_list)

6

### Okay...why do I need to know know about lists?

In [22]:
## recall our animals list
animals

['hen', 'dog', 'cat', 'horse']

In [23]:
## run this cell.
## we'll spend time in the near future doing this in our sleep
## import library
import pandas as pd

In [24]:
## run this cell.
## we'll spend time in the near future doing this in our sleep
df = pd.DataFrame(animals)
df.columns = ["animal"]
df.to_csv("animals.csv", encoding = "UTF-8", index = False)

## find ```animals.csv``` in your folder.

## Dictionaries

A Python Dictionary is another common and powerful datatype.

Think of it as a collection of data points about a single element.

For example, a car model:

- brand: Honda
- type: SUV
- model: CRV
- trim: Leather
- cost: 40_000
- on_sale: True
- vin: 2973

A dictionary would hold this data as **key: value** pairs

A dictionary is wrapped in ```{}```.

Each key: value pair is separated by a comma.

The format is ```{"key1_string": "string_value", "key2_number": 12, "key3_bolean": True}```

In [25]:
## build the car_1 dictionary

car_1 = {"brand": "Honda",
         "type": "SUV",
         "model": "CRV",
         "trim": "Leather",
         "cost": 40_000,
         "on_sale": True,
         "vin": 2973}

In [26]:
## call car_1
car_1

{'brand': 'Honda',
 'type': 'SUV',
 'model': 'CRV',
 'trim': 'Leather',
 'cost': 40000,
 'on_sale': True,
 'vin': 2973}

In [27]:
## what car_1's datatype
type(car_1)

dict

Build me a dictionary called car_2 with the following data points.

Note: In this case the vin is first. The order in a dictionary doesn't matter.

- vin: 8303
- brand: Honda
- type: Sedan
- model: Accord
- trim: Cloth
- cost: 35_000
- on sale: no

In [35]:
## build car_2
car_2 = {
    "vin": 8303,
    "brand": "Honda",
    "type": "Sedan",
    "model": "Accord",
    "trim": "Cloth",
    "cost": 35_000,
    "on_sale": False,
    "weight": 2_200
}

In [31]:
## call car_2
car_2

{'vin': 8303,
 'brand': 'Honda',
 'type': 'Sedan',
 'model': 'Accord',
 'trim': 'Cloth',
 'cost': 35000,
 'on_sale': False}

### A create a list with these two dictionaries

In [36]:
## create a list called honda_cars here
honda_cars = [car_1, car_2]

In [37]:
## call this list
honda_cars

[{'brand': 'Honda',
  'type': 'SUV',
  'model': 'CRV',
  'trim': 'Leather',
  'cost': 40000,
  'on_sale': True,
  'vin': 2973},
 {'vin': 8303,
  'brand': 'Honda',
  'type': 'Sedan',
  'model': 'Accord',
  'trim': 'Cloth',
  'cost': 35000,
  'on_sale': False,
  'weight': 2200}]

### Okay, so what?

Why do I need to know about dictionaries?

In [38]:
## run this.
## we'll spend time in the near future doing this in our sleep
df = pd.DataFrame(honda_cars)
df.to_csv("hondas1.csv", encoding = "UTF-8", index = False)

### What are relevant journalistic uses for what we covered today?

## find ```hondas.csv``` in your folder.


1. Organizing data points after acquiring or calculating them (creating lists, dictionaries and lists of dictionaries)
3. Knowing how many data points we have.
5. Understanding the connections between spreadsheets and Python data types